<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
    {% block title %}Création d'un nouveau mot de passe{% endblock %}
    </title>
</head>
<body>
    <p>Changement du mot de passe<br><br>
    Vous avez demandez à changer de mot de passe, pour cela cliquez sur le lien ci-dessous :<br><br>
    <a href="{{ front_base_url }}/reset/{{ resetToken.token }}">{{ front_base_url }}/reset/{{ resetToken.token }}</a><br><br>

    Attention un mot de passe est personnel, ne le communiquez à personne et conservez le précieusement.<br>
    Si vous n'êtes pas à l'origine de cette demande, merci de ne pas tenir compte de cet email.</p>

    <p>Ce lien expireras automatiquement dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

</body>
</html>
   

